*.eld
*.eld.gz
config.el
history
places
abbrev.defs
/auto-save-list
/backups
/bookmarks
/config.el
/eln-cache
/elpa
/helm-doc.org
/ido.last
/projectile-bookmarks.eld
/recentf
/request
/site-lisp
/tramp
/transient
/tree-sitter
/url/
