.DS_STORE
garbage.el
*.eld
*.eld.gz
abbrev.defs
config.el
gptel-crowdsourced-prompts.csv
history
places
projects
/auto-save-list
/backups
/bookmarks
/config.el
/eln-cache
/elpa
/helm-doc.org
/ido.last
/projectile-bookmarks.eld
/recentf
/request
/site-lisp
/straight
/tramp
/transient
/tree-sitter
/url/
